{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "importOrder": [
    "^react$|^react-dom",
    "<THIRD_PARTY_MODULES>",
    "^@melio-ui/(.*)$",
    "^@/(.*)$",
    "^../(types|utils|hooks|internal)/(.*)$|^../(utils|hooks|ConfigProvider)",
    "^../../(types|utils|hooks|internal)/(.*)$|^../../(utils|hooks|ConfigProvider)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
