@import '../../styles/common';
@import './mixin';

$number-input-cls: #{$prefix-cls}-number-input;
$number-plus-cls: #{$prefix-cls}-number-input-plus;
$number-minus-cls: #{$prefix-cls}-number-input-minus;

// .#{$input-cls} {
//   @include input();
// }

.#{$number-input-cls} {
  display: flex;
  width: 100%;

  // &:focus {
  //   border-color: var(--es-primary);
  //   border-width: 1px;
  //   box-shadow: 0 0 2px var(--es-primary);
  // }

  &-field {
    @include input();
    height: 2rem;
  }

  &-button-group {
    // width: 20px;
    // min-width: 10px;
    height: 2rem;
  }

  // &--disabled {
  //   .#{$number-plus-cls},
  //   .#{$number-minus-cls} {
  //     cursor: not-allowed;
  //   }
  // }

  &[data-readonly] {
    .#{$number-plus-cls},
    .#{$number-minus-cls} {
      cursor: default;
    }
  }
}

.#{$number-plus-cls},
.#{$number-minus-cls} {
  display: block;
  width: 100%;
  height: 16px;
  padding: 0;

  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  background: transparent;
  border: 1px solid var(--es-border);
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--es-disabled-bg);
    color: var(--es-disabled-text);
    border-color: var(--es-disabled-border);
  }
}
