.toast-button {
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #487493;
  border-radius: 0.3125rem;
}

.toast-content {
  border-radius: 0.375rem;
  min-width: 18rem;
  box-shadow:
    hsl(206 22% 7% / 35%) 0rem 0.625rem 2.375rem -0.625rem,
    hsl(206 22% 7% / 20%) 0rem 0.625rem 1.25rem -0.9375rem;
  border: 0.0625rem solid #dedede;
}
.toast-content[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast-content[data-state='closed'] {
  animation: hide 100ms ease-in;
}

.toast-viewport {
  position: fixed;
  z-index: 1300;
}
.toast-viewport[data-placement='top'] {
  top: 0.625rem;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
.toast-viewport[data-placement='top-left'] {
  top: 0.625rem;
  left: 0.625rem;
  right: auto;
}
.toast-viewport[data-placement='top-right'] {
  top: 0.625rem;
  left: auto;
  right: 0.625rem;
}
.toast-viewport[data-placement='bottom'] {
  left: 50%;
  right: auto;
  bottom: 0.625rem;
  transform: translateX(-50%);
}
.toast-viewport[data-placement='bottom-left'] {
  left: 0.625rem;
  right: auto;
  bottom: 0.625rem;
}
.toast-viewport[data-placement='bottom-right'] {
  left: auto;
  right: 0.625rem;
  bottom: 0.625rem;
}

@keyframes slideIn {
  from {
    transform: 'translateX(calc(100% + 25px))';
  }
  to {
    transform: 'translateX(0)';
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
