@import '../../styles/common';
// @import './mixin';
@import '../../Modal/styles/modal';

$drawer-cls: #{$prefix-cls}-drawer;

// $size-sm: 20%;
$size-md: 40%;
// $size-lg: 60%;

.#{$drawer-cls}-backdrop {
  @include modal-backdrop();
}

.#{$drawer-cls} {
  @include modal();

  // drawer content
  &-content {
    background-color: var(--es-component-bg);
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    // visibility: hidden;
    // opacity: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: inherit;

    // placement
    &[data-placement="top"] {
      // top: calc(-1 * #{$size-md});
      top: 0;
      left: 0;
      width: 100%;
      height: $size-md;
    }

    &[data-placement="bottom"] {
      // bottom: calc(-1 * #{$size-md});
      bottom: 0;
      left: 0;
      width: 100%;
      height: $size-md;
    }

    &[data-placement="right"] {
      top: 0;
      // right: calc(-1 * #{$size-md});
      right: 0;
      width: $size-md;
      height: 100%;
    }

    &[data-placement="left"] {
      top: 0;
      left: 0;
      // left: calc(-1 * #{$size-md});
      width: $size-md;
      height: 100%;
    }
  }

  &-header {
    flex: 0 1 auto;
  }

  &-body {
    flex: 1 1 auto;
    max-height: 100%;
  }

  &-footer {
    flex: 0 1 auto;
  }
}
