.checkbox-root {
  display: inline-flex;
  align-items: center;
}

.checkbox-root[data-readonly] {
  cursor: default;
  pointer-events: none;
}

.checkbox-root[data-disabled] {
  cursor: not-allowed;
}

.checkbox-root > input[type='checkbox'] {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: 0;
  cursor: inherit;
  opacity: 0;
}

.checkbox-indicator {
  position: relative;
  display: flex;
  align-items: center;
  color: #208aff;
  cursor: pointer;
}
.checkbox-root[data-readonly] .indicator {
  cursor: default;
}
.checkbox-root[data-disabled] .indicator {
  color: #d9d9d9;
  cursor: default;
  pointer-events: none;
}

.checkbox-icon {
  font-size: 1.5rem;
}

.checkbox-label {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  cursor: pointer;
  color: #e2e8f0;
}
.checkbox-root[data-disabled] .label {
  color: #d9d9d9;
  cursor: default;
  pointer-events: none;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}
.checkbox-group[data-orientation='vertical'] {
  flex-direction: column;
}
