@import '../../styles/common';
// @import './mixin';

$dropdown-cls: #{$prefix-cls}-dropdown;

.#{$dropdown-cls} {
  &-content {
    position: absolute;
    background-color: var(--es-component-bg);
    border: 1px solid var(--es-border);
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  
    &:focus {
      outline: 0;
    }
  }

  &-item {
    display: flex;
    cursor: pointer;
    padding: 8px 16px;
    border-bottom: none;
    line-height: 1.063rem; // rem(17px); 빌드시 에러남 (원래 안났는데 그냥 갑자기 남)

    &:hover {
      background: var(--es-selected-hover);
    }

    &[data-disabled] {
      cursor: default;
      opacity: 0.45;
      pointer-events: none;
    }
  }

  &-separator {
    height: 1px;
    background-color: var(--es-border);
    margin: 5px 
  }

  &-group {
    padding: 10px 5px;

    &-title {
      padding-left: 5px;
      padding-bottom: 8px;
    }
  }
}