@import '../../styles/common';
@import '../../styles/functions/rem';

$tooltip-cls: #{$prefix-cls}-tooltip;

.#{$tooltip-cls}-content {
  background-color: var(--es-tooltip-bg);
  color: var(--es-tooltip-text);
  word-wrap: break-word;
  padding: rem(4px) rem(10px);
  border-radius: rem(4px);
  max-width: rem(300px);

  &[data-popper-placement="top"] {
    .#{$tooltip-cls}-arrow {
      left: 50%;
      margin-left: -5px;
    }
  }

  &[data-popper-placement="top-end"] {
    .#{$tooltip-cls}-arrow {
      right: 10px;
    }
  }

  &[data-popper-placement="right-start"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      left: -4px;
      top: 11px;
    }
  }

  &[data-popper-placement="right"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      left: -4px;
      top: 50%;
    }
  }

  &[data-popper-placement="right-end"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      left: -4px;
      bottom: 6px;
    }
  }

  &[data-popper-placement="bottom-start"] {
    .#{$tooltip-cls}-arrow {
      top: -4px;
    }
  }

  &[data-popper-placement="bottom"] {
    .#{$tooltip-cls}-arrow {
      top: -4px;
      left: 50%;
      margin-left: -5px;
    }
  }

  &[data-popper-placement="bottom-end"] {
    .#{$tooltip-cls}-arrow {
      top: -4px;
      right: 10px;
    }
  }

  &[data-popper-placement="left-start"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      right: -4px;
      top: 11px;
    }
  }

  &[data-popper-placement="left"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      right: -4px;
      top: 50%;
    }
  }

  &[data-popper-placement="left-end"] {
    .#{$tooltip-cls}-arrow {
      margin-top: -4px;
      right: -4px;
      bottom: 6px;
    }
  }
}

.#{$tooltip-cls}-arrow {
  /* visibility: hidden; */
  position: absolute;
  width: rem(8px);
  height: rem(8px);
  background-color: inherit;
  transform: rotate(45deg);

  &::before {
    /* width: 8px;
    height: 8px;
    background-color: inherit; */
    /* visibility: visible; */
    content: '';
    /* transform: rotate(45deg); */
  }

  // &[data-placement="top"] {
  //   left: 50%;
  //   margin-left: -5px;
  // }

  // &[data-placement="top-end"] {
  //   right: 10px;
  // }

  // &[data-placement="right-start"] {
  //   margin-top: -4px;
  //   left: -4px;
  //   top: 11px;
  // }

  // &[data-placement="right"] {
  //   margin-top: -4px;
  //   left: -4px;
  //   top: 50%;
  // }

  // &[data-placement="right-end"] {
  //   margin-top: -4px;
  //   left: -4px;
  //   bottom: 6px;
  // }

  // &[data-placement="bottom-start"] {
  //   top: -4px;
  // }

  // &[data-placement="bottom"] {
  //   top: -4px;
  //   left: 50%;
  //   margin-left: -5px;
  // }

  // &[data-placement="bottom-end"] {
  //   top: -4px;
  //   right: 10px;
  // }

  // &[data-placement="left-start"] {
  //   margin-top: -4px;
  //   right: -4px;
  //   top: 11px;
  // }

  // &[data-placement="left"] {
  //   margin-top: -4px;
  //   right: -4px;
  //   top: 50%;
  // }

  // &[data-placement="left-end"] {
  //   margin-top: -4px;
  //   right: -4px;
  //   bottom: 6px;
  // }
}
