.modal-backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
  animation: fadein 0.3s;
}

.modal-trigger {
  border: 0.0625rem solid rgba(255, 255, 255, 0.35);
  border-radius: 0.25rem;
  padding: 0.3125rem;
}

.modal-content {
  position: fixed;
  top: 1.875rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 32.5rem;
  min-width: 12.5rem;
  min-height: 2.625rem;
  background-color: #364664;
  z-index: 1200;
  border-radius: 0.375rem;
  animation: fadein 0.3s;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.875rem;
  border: none;
  outline: none;

  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  background: transparent;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  padding: 1rem 1.5rem;
  /* border-bottom: 0.0313rem solid #807e7e; */
}

.modal-body {
  padding: 1.5rem;
  max-height: 46.3125rem;
  overflow: auto;
}

.modal-footer {
  padding: 1rem 1.5rem;
  text-align: right;
  /* border-top: 0.0313rem solid #807e7e; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
