@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* 추가한 css variables */
  --background-end: #FFFFFF; /* rgb 값을 var 로 사용하니 적용이 안되서 만들었음. */

  --primary-color: #208AFF;
  --primary-text-color: #fff;

  --component-bg: #FFFFFF;

  --disabled-bg: #F7F7F7;
  --disabled-border: #E2E2E2;
  --disabled-text: #D9D9D9;

  --border: #D9D9D9;
  --border-inner: #CCCCCC;

  --avatar-bg: #D9D9D9;
  --avatar-text: #FFFFFF;

  --info: #208AFF;
  --success: #32C768;
  --warning: #F59E0B;
  --error: #E23731;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* 추가한 css variables */
    --background-end: #000000;

    --primary-color: #208AFF;;
    --primary-text-color: #fff;

    --component-bg: rgb(45, 55, 72);

    --disabled-bg: rgba(255, 255, 255, 0.08);
    --disabled-border: rgba(255, 255, 255, 0.2);
    --disabled-text: rgba(255, 255, 255, 0.2);

    --border: rgba(255, 255, 255, 0.35);
    --border-inner: rgba(255, 255, 255, 0.1);

    --avatar-bg: #333333;
    --avatar-text: #FFFFFF;

    --info: #208AFF;
    --success: #32C768;
    --warning: #F59E0B;
    --error: #E23731;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
