.tooltip-button {
  border: 0.0625rem solid #5f76bb;
  padding: 0.3125rem 0.625rem;
}

.tooltip-content {
  background-color: rgb(106, 114, 128);
  color: #ffffff;
  word-wrap: break-word;
  padding: 0.25rem 0.625rem;
  border-radius: 0.25rem;
  max-width: 18.75rem;
}

.tooltip-arrow {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: inherit;
  transform: rotate(45deg);
}
.tooltip-arrow::before {
  content: '';
}
.tooltip-content[data-popper-placement='top'] .tooltip-arrow {
  left: 50%;
  margin-left: -0.3125rem;
}
.tooltip-content[data-popper-placement='top-end'] .tooltip-arrow {
  right: 0.625rem;
}
.tooltip-content[data-popper-placement='right-start'] .tooltip-arrow {
  margin-top: -0.25rem;
  left: -0.25rem;
  top: 0.6875rem;
}
.tooltip-content[data-popper-placement='right'] .tooltip-arrow {
  margin-top: -0.25rem;
  left: -0.25rem;
  top: 50%;
}
.tooltip-content[data-popper-placement='right-end'] .tooltip-arrow {
  margin-top: -0.25rem;
  left: -0.25rem;
  bottom: 0.375rem;
}
.tooltip-content[data-popper-placement='bottom-start'] .tooltip-arrow {
  top: -0.25rem;
}
.tooltip-content[data-popper-placement='bottom'] .tooltip-arrow {
  top: -0.25rem;
  left: 50%;
  margin-left: -0.3125rem;
}
.tooltip-content[data-popper-placement='bottom-end'] .tooltip-arrow {
  top: -0.25rem;
  right: 0.625rem;
}
.tooltip-content[data-popper-placement='left-start'] .tooltip-arrow {
  margin-top: -0.25rem;
  right: -0.25rem;
  top: 0.6875rem;
}
.tooltip-content[data-popper-placement='left'] .tooltip-arrow {
  margin-top: -0.25rem;
  right: -0.25rem;
  top: 50%;
}
.tooltip-content[data-popper-placement='left-end'] .tooltip-arrow {
  margin-top: -0.25rem;
  right: -0.25rem;
  bottom: 0.375rem;
}
