.tooltip-trigger {
  border: 0.0625rem solid rgba(255, 255, 255, 0.35);
  border-radius: 0.25rem;
  padding: 0.3125rem;
  color: #e2e8f0;
}

.tooltip-content {
  background-color: rgb(106, 114, 128);
  color: #e2e8f0;
  word-wrap: break-word;
  padding: 0.25rem 0.625rem;
  border-radius: 0.25rem;
  max-width: 18.75rem;
}

.tooltip-arrow {
  fill: rgb(106, 114, 128);
}
